<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="userName">User Name</label>
      <input #txtUserNameOrEmail type="text" class="form-control" id="userName" placeholder="User Name & Email">
      <small class="form-text text-muted invalid-feedback">****</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input #txtPassword type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div style="display: flex;height: 100px;align-content: stretch;justify-content: space-evenly;align-items: center;">
    <asl-google-signin-button shape="pill" size="large" ></asl-google-signin-button>

    <img src="../../../../assets/facebook.png" style="width: 32px; height: 30px; cursor: pointer;" (click)="facebookLogin()" />

  </div>
  <button 
      style="margin-top: 1px;" 
      type="submit" 
      class="btn btn-primary"
      (click)="login(txtUserNameOrEmail.value, txtPassword.value)">
        LogIn
      </button>
</div>
  <div class="col-md-3"></div>
</div>


